<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="d-flex justify-content-around">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <%= form_for(@book, url: books_path, method: 'post') do |f| %>
        <div class="card-header">감명깊게 읽은 책을 입력해 주세요</div>
        <div class="card-body">
          <h5 class="card-title"><p>제목</p><%= f.text_field :title %></h5>
          <p class="card-text"><p>작가</p><%= f.text_field :writer %><br></p>
          <p class="card-text"><p>내용</p><%= f.text_area :content %><br></p>
          <p class="card-text"><%= f.submit '저장' %><br></p>
        </div>
        <% end %>
      </div>
    </div>
    
    
    <!--<h1>감명깊게 읽은 책을 입력해 주세요</h1>-->
    <!--<%= form_for(@book, url: books_path, method: 'post') do |f| %>-->
    <!--    <p>제목</p><%= f.text_field :title %><br>-->
    <!--    <p>작가</p><%= f.text_field :writer %><br>-->
    <!--    <p>내용</p><%= f.text_area :content %><br>-->
    <!--    <%= f.submit '저장' %>-->
    <!--<% end %>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>


